.experience-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

.left-column,
.right-column {
  flex: 1;
}

.formation-card,
.experience-card {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.8);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.formation-card h4,
.experience-card h4 {
  color: rgb(242, 245, 248);
  font-weight: bold;
}

.formation-card p,
.experience-card p {
  color: rgba(242, 245, 248, 0.8);
}

@media (max-width: 768px) {
  .experience-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .formation-card,
  .experience-card {
    padding: 1rem;
    text-align: left;
  }

  .technologies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
