.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.container-column {
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .formation-section,
  .experience-section {
    margin-bottom: 1rem;
  }
}
